@import "bootstrap.min.css";

.header {
    background-color: #343a40;
}

a:visited {
    color:#0056b3 !important;
}

#autocomplete {
    width: 80%;
    left: inherit;
}

.x {
    cursor: pointer;
}
